// TODO: Refactor this using fancy SASS mixins and shit

.priority-matrix .matrix {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;

    & > div {
      flex: 1 1 auto;
    }
  }

  .pt-card {
    margin: $pt-grid-size;
  }

  .urgent {
    background-color: $red5;
  }
}