.sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  left: 0;
  top: $pt-navbar-height;
  box-shadow: $pt-dialog-box-shadow;

  section {  
    hr {
      margin: 0;
    }

    h2 {
      color: $pt-text-color-muted;
      font-size: $pt-font-size-small;
      line-height: $pt-line-height;
      margin: $pt-grid-size 0 $pt-grid-size / 2 $pt-grid-size;
      text-transform: uppercase;
    }
  }

  button {
    text-align: left;
  }
}